<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/ehya2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="container">
                <nav class="nav-menu">
                    <div class="logo">
                        <img src="/Logo.png" alt="">
                    </div>
                    <div class="menu">
                        <a href="/route/home">Home</a>
                        <a href="#">Landings</a>
                        <a href="#">Pages</a>
                        <a href="#">Docs</a>
                        <a href="#">Help</a>
                        <a href="#" id="git">Get it now</a>
                    </div>
                </nav>
            </div>
        </header>

        <div class="container-2 flex-row padding-left-16">
            <div class="width-50 margin-top-100">
                <h1 class="margin-bottom-15"> 
                    Number#1,
                    Southern Asia
                    Digital Product Agency
                </h1>
                <p class="margin-bottom-40">
                    We bring the result while helping you achieve cost and time saving without taking on risk or management overhead.
                </p>
                <span class="btn">
                    <a href="#">See our Portfolio</a>
                </span>
            </div>
            <div class="width-50 img-wid">
                <img src="/macbook.png" alt="">
            </div>
        </div>

        <section>
        <div class="container">
            <div class="color-aqua">
                <p>
                    OUR PARTNER
                </p>
            </div>

            <div class="flex-row just-space-bw margin-bottom-40">
                <div class="width-35 font-size-30">
                    <p>
                        We've worked with them, We trust each other
                    </p>
                </div>
                <div class="width-35 font-size-15 line-height-25">
                    <p>
                        Our team provides high-level creative education to a globaladience of students , educators and entrepreneurs all over the wold.
                    </p>
                </div>
            </div>
            <div class="flex-row row margin-bottom-40">
                <div class="col-20">
                    <img src="/slack.png" alt="">
                </div>
                <div class="col-20">
                    <img src="/Shape.png" alt="">
                </div>
                <div class="col-20">
                    <img src="/fitbit.png" alt="">
                </div>
                <div class="col-20">
                    <img src="/google.png" alt="">
                </div>
                <div class="col-20">
                    <img src="/airbnb.png" alt="">
                </div>
            </div>
        </div>
        </section>

        <section>
            <div class="container margin-top-100">
                <div class="flex-row align-item-center just-space-bw margin-bottom-40">
                    <div class="font-size-30">
                        <p>What We do</p>
                    </div>
                    <div class="font-size-15">
                        <p>We work together with our client to execute impactful product.</p>
                    </div>
                </div>
                <div class="flex-row row">
                    <div class="col-33">
                        <div class="border-grey flex-row line-height-25">
                        <div class="col-img-3">
                            <img src="/Oval.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    Branding Identity
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p>
                                    We make logos and concept for<br> your brand needs.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="border-grey flex-row line-height-25">
                        <div class="col-img-3">
                            <img src="/Polygon-2.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    Development
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p>
                                    We code your apps,websites and <br>dashboard to you.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="flex-row border-grey line-height-25">
                        <div class="col-img-3">
                            <img src="/Polygon-1.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    UI/UX Design
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p> 
                                    Making beatiful and intuitive design digital product.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-33">
                        <div class="flex-row border-grey line-height-25">
                        <div class="col-img-3">
                            <img src="/Rectangle.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    Microstock
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p> 
                                    We produce million asset for your bussiness needs.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="flex-row border-grey line-height-25">
                        <div class="col-img-3">
                            <img src="/Triangle.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    Social Media
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p> 
                                    Planning and maintenance social media for reach audience.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="flex-row border-grey line-height-25">
                        <div class="col-img-3">
                            <img src="/Polygon.png" alt="">
                        </div>
                        
                        <div class="col-text-3"> 
                            <div class="font-large-500">
                                <p>
                                    Research
                                </p>
                            </div>
                            <div class="color-grey-500">
                                <p> 
                                    Helping research startup or brand to business needs.
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>


        <section class="margin-top-100">
            <div class="container-2">
                <div class="color-aqua font-size-15">
                    <p>
                        PORTFOLIO
                    </p>
                </div>
                <div>
                    <h2> Our Projects </h2>
                </div>


                <div class="flex-row row">
                <div class="col-30 border-grey-4 col-img-3">
                    <div class="">
                        <div>
                            <img src="/p1.png" alt="">
                        </div>
                        <div class="color-navy padding-left-16">
                            <p> Website,Landing</p>
                        </div>
                        <div class="font-size-30 padding-left-16">
                            <p>
                                Website Project
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-30 border-grey-4 col-img-3">
                <div class="">
                    <div>
                        <img src="/p2.png" alt="">
                    </div>
                    <div class="color-navy padding-left-16">
                        <p> Deskboard, UI/UX Design</p>
                    </div>
                    <div class="font-size-30 padding-left-16">
                        <p>
                            Dashboard Project
                        </p>
                    </div>
                </div>
                </div>
                <div class="col-30 border-grey-4 col-img-3">
                    <div class="">
                        <div>
                            <img src="/p3.png" alt="">
                        </div>
                        <div class="color-navy padding-left-16">
                            <p>Apps,Mobile,iOs</p>
                        </div>
                        <div class="font-size-30 padding-left-16">
                            <p>
                                Apps Project
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="margin-top-100">
            <div class="container">
                <div class="color-aqua font-size-15">
                    <p>
                        TESTIMONIAL
                    </p>
                </div>
                <div class="font-large-500">
                    <p>
                        What People Say about Us
                    </p>
                </div>
                <div class="flex-row row"> 
                    <div class="col-45">
                        <div class="border-grey-4 padding-20">
                        <div class="flex-row">
                            <div class="profile-img">
                                <img src="/profile-img.png" alt="">
                            </div>
                            <div>
                                <div class="font-20 margin-0">
                                    <p>
                                        Jaquon Hart
                                    </p>
                                </div>
                                <div class="color-grey-500">
                                    <p>
                                        VP Manager - Lizlle Company
                                    </p>
                                </div>     
                            </div>
                        </div>
                        <div class="line-height-25 color-grey-500">
                            <p>
                                "Their UI/UX skills and experience, were key to identifying potential friction points within our Business Processes, which they fixed or streamlined beatiful".
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-45">
                        <div class="border-grey-4 padding-20">
                        <div class="flex-row">
                            <div class="profile-img">
                                <img src="/profile-img.png" alt="">
                            </div>
                            <div>
                                <div class="font-20 margin-0">
                                    <p>
                                        Valdemar Forsberg
                                    </p>
                                </div>
                                <div class="color-grey-500">
                                    <p>
                                        Founder Digitac Finance
                                    </p>
                                </div>     
                            </div>
                        </div>
                        <div class="line-height-25 color-grey-500">
                            <p>
                                Ehya pushed us to think beyond our initial scope and imagination while ensuring that the design and shape of the platform are continually adjusted based on data.
                            </p>
                        </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>

        <section class="margin-top-100">
            <div class="container">
                <div class="text-center margin-bottom-100">
                    <p class="color-aqua font-size-15">
                        OUR SOCIAL MEDIA
                    </p>
                    <p class="font-size-30 font-700">
                        Let's be Friends
                    </p>    
                </div>
                <div class="row flex-row">
                    <div class="col-25 text-center">
                        <div>
                            <img src="/instagram-2.png" alt="">
                        </div>
                        <div class="font-large-500">
                            <p>
                                Instagram 
                            </p>
                        </div>
                        <div class="color-grey-500 line-height-25">
                            <p>
                                For our Portfolio and Daily <br>activities in office
                            </p>
                        </div>
                        <div class="a-tag font-large-500">
                            <a href="#">
                                Follow Us <i class="bi bi-arrow-right-short"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-25 text-center">
                        <div>
                            <img src="/twitter-2.png" alt="">
                        </div>
                        <div class="font-large-500">
                            <p>
                                Twitter
                            </p>
                        </div>
                        <div class="color-grey-500 line-height-25">
                            <p>
                                For random thoughts and<br> funny things 
                            </p>
                        </div>
                        <div class="a-tag font-large-500">
                            <a href="#">
                                Follow Us <i class="bi bi-arrow-right-short"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-25 text-center">
                        <div>
                            <img src="/dribbble-2.png" alt="">
                        </div>
                        <div class="font-large-500">
                            <p>
                                Dribbble
                            </p>
                        </div>
                        <div class="color-grey-500 line-height-25">
                            <p>
                                For Updated & Detailed all <br> of our Portfolio
                            </p>
                        </div>
                        <div class="a-tag font-large-500">
                            <a href="#">
                                Follow Us <i class="bi bi-arrow-right-short"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-25 text-center">
                        <div id="img-4">
                            <img src="/youtube-2.png" alt="">
                        </div>
                        <div class="font-large-500">
                            <p>
                                Youtube
                            </p>
                        </div>
                        <div class="color-grey-500 line-height-25">
                            <p>
                                For our video about tutorial and <br> tips on design industry
                            </p>
                        </div>
                        <div class="a-tag font-large-500">
                            <a href="#">
                                Subscribe <i class="bi bi-arrow-right-short"></i>
                            </a>
                        </div>
                    </div>

            </div>
        </section>

        <section class="bg-color-aqua padding-top-60 margin-top-100">
            <div class="font-size-30 text-center color-white">
                <p>
                    We're Ready for a Challenging Project
                </p>
            </div>
            <div class="font-size-10 text-center color-white margin-bottom-40">
                Send us your brief and tell your project too. We are ready to help all you need 
            </div>
            <div class="text-center padding-bottom-60">
                <span class="btn-white">
                    <a>
                        Let's Discuss it!
                    </a>
                </span>
            </div>
        </section>

        <footer>
            <div class="container">
    
            <div class="flex-row row">
                <div class="column-f">
                    <div>
                        <img src="../images/Logo.png" alt="">
                    </div>
                    <div class="white-20">
                        <p>
                            Build a modern and creative <br>website with crealand
                        </p>
                    </div>
                    <div>       
                        <a href="#"><img src="/google-1.png" alt=""></a>
                        <a href="#"><img src="/twitter-1.png" alt=""></a>
                        <a href="#"><img src="/instagram-1.png" alt=""></a>
                        <a href="#"><img src="/linkedin-1.png" alt=""></a>
                        <a href="#"><img src="/youtube-1.png" alt=""></a>
                    </div>
                </div>

                <div class="column-f">
                    <ul>
                        <li>Product</li>
                        <li><a>Landingpage</a></li>
                        <li><a>Features</a></li>
                        <li><a>Documentation</a></li>
                        <li><a>Referral Program</a></li>
                        <li><a>Pricing</a></li>
                    </ul>
                </div>
                <div class="column-f">
                    <ul>
                        <li>Services</li>
                        <li><a>Documentation</a></li>
                        <li><a>Design</a></li>
                        <li><a>Themes</a></li>
                        <li><a>Illustrations</a></li>
                        <li><a>UI Kit</a></li>
                    </ul>
                </div>
                <div class="column-f">
                    <ul>
                        <li>Company</li>
                        <li><a>About</a></li>
                        <li><a>Terms</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Careers</a></li>
                    </ul>
                </div>
                <div class="column-f">
                    <ul>
                        <li>More</li>
                        <li><a>Documentation</a></li>
                        <li><a>License</a></li>
                        <li><a>Changelog</a></li>
                    </ul>
                </div>
            </div>

            <div class="heart-img">
                <div>
                    <img src="/heart.png" alt="">
                </div>
                <div class="white-20">
                    <p>Copyright © 2019. Crafted with love.</p>
                </div>
            </div>
            </div>
        </footer>
    </div>
</body> 
</html>