<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home-page.css">
</head>
<body>
    
    <div class="site-container">
        <div class="container flex-row align-flex">
            <div>
                <h1>
                    Showcase of Project
                </h1>
            </div>
            <div class="align-flex">
                <ul class="flex-row nav">
                    <li><a href="/route/home">Home</a></li>
                    <li><a href="/route/logout-api">Logout</a></li>
                    <li><a href="#"><%= data.db_name%></a></li>
                </ul>
            </div>
        </div>        
        <div>
            <ul class="project-list">
                <li><a href="/route/tic-tac-toe">Tic-tac-Toe</a></li>
                <li><a href="/route/color-cube">Koo-koo cube</a></li>
                <li><a href="/route/candidate">Registration Form</a></li>
                <!-- <li><a href="/candidate">Edit Form</a></li> -->
                <li><a href="/route/show">List of Data</a></li>
                <li><a href="/route/ehya">ehya 1.0</a></li>
                <li><a href="/route/ehya2">ehya 2.0</a></li>
                <li><a href="/route/data">Greed</a></li>
                <li><a href="/route/pagination">Pagination</a></li>
            </ul>
        </div>

    </div>
    
    
</body>
</html>