<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home-page.css">
</head>
<body>
    
    <div class="site-container">
        <div class="container flex-row align-flex">
            <div>
                <h1>
                    Showcase of Project
                </h1>
            </div>
            <div class="align-flex">
                <ul class="flex-row nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/logout-api">Logout</a></li>
                    <li><a href="#"><%= data.db_name%></a></li>
                </ul>
            </div>
        </div>        
     
        <div class="d-flex">

            <div class="pro-cart">
                <a href="/tic-tac-toe">
                <div class="pro-img">
                    <img src="/tic_tac.jpg" alt="">
                </div>
                <div>
                    <p>Tic-Tac-Toe</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/color-cube">
                <div class="pro-img">
                    <img src="/koo-koo.png" alt="">
                </div>
                <div>
                    <p>Koo-koo-cube</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/candidate">
                <div class="pro-img">
                    <img src="/form.png" alt="">
                </div>
                <div>
                    <p>Job Application</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/show">
                <div class="pro-img">
                    <img src="/list.png" alt="">
                </div>
                <div>
                    <p>List of Data</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/ehya">
                <div class="pro-img">
                    <img src="/web.png" alt="">
                </div>
                <div>
                    <p>ehya 1.0</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/ehya2">
                <div class="pro-img">
                    <img src="/web2.png" alt="">
                </div>
                <div>
                    <p>ehya 2.0</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/pagination">
                <div class="pro-img">
                    <img src="/pag-1.png" alt="">
                </div>
                <div>
                    <p>Pagination</p>
                </div>
                </a>
            </div>
            <div class="pro-cart">
                <a href="/data">
                <div class="pro-img">
                    <img src="/greed-i.png" alt="">
                </div>
                <div>
                    <p>Greed</p>
                </div>
                </a>
            </div>

        </div>

        <footer>
            <!-- <div class="container"> -->
            <div class="color-bg align-flex d-flex flex-col">
                    <div>
                        <p>Thank You</p>
                    </div>
                    <div>
                        <img src="/heart.png" alt="">
                    </div>
                    <div class="white-20">
                        <p> Lots of love from Pratik Dabhi.</p>
                    </div>
                    <div class="white-20">
                        <p> Copyright © 2023</p>
                    </div>


                </div>
            <!-- </div> -->
        </footer>
       
    </div>
    
    
</body>
</html>