<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Link</title>
    <link rel="stylesheet" href="/login-link.css">
</head>
<body>
    <h1>
        Thank You
    </h1>
    <div class="activate-link">
        <p>
            For the activate account click on below link
        </p>
        <a href="/route/activation-api?email=<%= email%>">clickhere</a>
    </div>
</body>
</html>