/* h1{
    color: red;
} */

.flex-row{
    display: flex;
    justify-content: space-between;
}

.container{
    padding: 0 16px;
    margin: 0 auto;
}
ul li{
    list-style: none;
    padding:5px 15px;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.project-list li a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.project-list{
    margin: 0;
    padding: 15px;
    width: 20%;
    background-color: #0E8388;
    /* color: white; */
}
.align-flex{
    display: flex;
    align-items: center;
    background-color: #2C3333;
    background-color: #2C3333;
    color: white;
}
